@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

$p: hsl(213deg 85% 97%);
$s: hsl(233deg 36% 38%);
* { font-family: 'Poppins', sans-serif; }

@mixin screen {
  background: $p;
  padding: 2em;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  box-shadow: 0 0 2em hsl(231deg 62% 94%);
}

body {
  user-select: none;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: hsl(218deg 50% 91%);
  height: 100vh;
  margin: 0;
}

.screen-1 {
  @include screen;
  gap: 2em;

  .logo { margin-top: -3em; }

  .email, .password {
    background: hsl(0deg 0% 100%);
    box-shadow: 0 0 2em hsl(231deg 62% 94%);
    padding: 1em;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    color: hsl(0deg 0% 30%);
    margin-top: -3em;
    
    input {
      outline: none;
      border: none;
      &::placeholder {
        color: hsl(0deg 0% 0%);
        font-size: 0.9em;
      }
    }
    
    ion-icon {
      color: hsl(0deg 0% 30%);
      margin-bottom: -0.2em;
    }
  }

  .password {
    padding: 12px 8px;
    border-radius: 10px;
    margin-top: 20px;
    
    input {
      font-size: 0.9em; // Adjusted to be consistent
    }

    .show-hide {
      margin-left: -2em; // Adjusted for better positioning
      cursor: pointer;
      display: flex-end;
      
    }
  }

  .login {
    width: 300px;
    height: 50px;
    background: hsl(233deg 36% 38%);
    color: hsl(0 0 100);
    border: none;
    border-radius: 30px;
    font-weight: 600;
    margin-top: 20px;
    cursor: pointer;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    font-size: 0.7em;
    color: hsl(0deg 0% 37%);
    padding-bottom: 10em;
    margin-top: 20px;

    span { cursor: pointer;
    #a{
        text-decoration: none;
    }
    }
    
  }
}

button { cursor: pointer; }